# config.yml
---
#master_repo: https://git.oschina.net/6david9/Specs.git
master_repo: https://gitcafe.com/fannheyward/CocoaPodsSpecs.git
mirror:
  specs_push_url: http://git.hjlabs.cn/pods-mirror/Specs.git
  source_push_url: http://git.hjlabs.cn/pods-mirror
  source_clone_url: http://git.hjlabs.cn/pods-mirror
  gitlab:
    acccess_token: yym9DGNy8vzt6koQDsRd
    organisation: 4
    endpoint: http://git.hjlabs.cn/api/v3

pod_items:
  - AFNetworking
  - Aspects
  - CocoaLumberjack
  - CocoaLumberjack
  - CocoaSecurity
  - FCModel
  - FMDB
  - FXForms
  - FormatterKit
  - GZIP
  - HexColors
  - ios-vendor-AnimatedGIFImageSerialization
  - ios-vendor-tmcache
  - ios-vendor-uzysanimatedgifpulltorefresh
  - LBBlurredImage
  - Mantle
  - RMUniversalAlert
  - SDWebImage
  - SVProgressHUD
  - SnapKit
  - UMengAnalytics
  - UIActionSheet+Blocks
  - UIAlertView+Blocks
  - UIActionSheet+Blocks
  - UIView+Positioning
  - UIAlertController+Blocks

# 不需要同步到本地的。如国内的友盟。
pod_skips:
  - UMengAnalytics
  - UMSAnalytics